.container-lg {
  border: 1px solid palevioletred;
  border-radius: 5px;
  max-width: 900px;
  padding: 30px;
  font-family: poppins;
  background-color: snow;
}

.col-5 {
  border: 1px solid grey;
  border-radius: 5px;

}

.location {
  opacity: 70%;
  font-size: 40px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: capitalize;

}

.current-date {
  margin-bottom: 40px;
  font-size: 20px;
  opacity: 70%;
  font-weight: 400;

}

.high-low-temp {
  text-align: center;
  margin-left: 12px;
}

.spacer {
  margin-left: 20px;
}

.current-weather {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;

}

.temperature {
  text-align: center;
  font-size: 50px;
  color: palevioletred;

}

.high-low-icon {
  max-height: 70px;
}

.temp-unit {
  font-size: 20px;
}

.col {
  text-align: center;
}

.current-weather-pic {
  margin-top: 40px;
  text-align: center;
}

.description {
  margin-top: 40px;
  text-transform: capitalize;
  font-size: 20px;
  opacity: 70%;
  font-weight: 400;

}

.forecast-icon {
  max-height: 30px;
}

.weather-forcast-date {
  text-align: center;
  border: 1px solid orange;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}

.open-link {
  font-size: 15px;
  text-align: center;
  color: palevioletred;
  margin: 0 auto;
}

a {
  box-shadow: inset 0 0 0 0 palevioletred;
  color: palevioletred;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 palevioletred;
}

a {
  color: palevioletred;
  font-family: space mono;
  font-size: 27px;
  line-height: 1.5;
  text-decoration: none;
}

a:active {
  background-color: palevioletred;
  color: white;
}

@media (max-width: 768px) {


  #search-btn,
  #current-btn {
    margin-top: 10px;


  }

  #second-row,
  #forecast {
    text-align: center;
  }

  #search-input {
    max-width: 260px;
  }

}