h1 {
  text-align: center;
  color: palevioletred;
}

.container {
  border: 2px solid palevioletred;
  border-radius: 5px;
  width: 800px;
  padding: 30px;
  font-family: space mono;
}

.col-day1,
.col-day2,
.col-day3,
.col-day4,
.col-day5 {
  border: 1px solid palevioletred;
  margin: 5px auto;
  padding: 0 60px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-8 {
  border: 1px solid red;
}

.open-link {
  font-size: 15px;
  text-align: center;
  color: palevioletred;
  margin: 0 auto;
}

a {
  box-shadow: inset 0 0 0 0 palevioletred;
  color: palevioletred;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 palevioletred;
}

/* Presentational styles */
a {
  color: palevioletred;
  font-family: space mono;
  font-size: 27px;
  line-height: 1.5;
  text-decoration: none;
}

.search-btn {
  margin: 0 5px;
}
